@charset 'utf-8';


.comment-box {
    display: flex;
    justify-content: right;
    align-items: center;
}


.btn-comment {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    font-size: 10px;
}

.comment-box > p {
    margin: 0;
}

button.btn-comment {
    background: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 10px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}