{% for comment in comments %}
<div class="comment-wrap">
  {{ comment.time_created }}<br>
  {{ comment.time_updated }}
  <p class="main-comment">
    {% if comment.is_deleted %}
    삭제된 댓글입니다
    {% else %}
    <span>{{ comment.author.username }}</span> : {{ comment.text }}
    {% endif %}
    {% if comment.time_created|date:"YmdHis" != comment.time_updated|date:"YmdHis" %}
    수정됨
    {% endif %}
  </p>
  <div class="comment-box">
    {% if not comment.is_deleted %}
    <p>
      <a class="btn btn-primary btn-comment" data-toggle="collapse" href="#create_reply{{ comment.pk }}" role="button"
        aria-expanded="false" aria-controls="create_reply">
        답글달기
      </a>
    </p>
    {% if comment.author == user %}
    <p>
      <a class="btn btn-primary btn-comment" data-toggle="collapse" href="#update_comment{{ comment.pk }}" role="button"
        aria-expanded="false" aria-controls="update_comment">
        수정하기
      </a>
    </p>
    <form method="POST" action="{% url 'delete_comment' comment.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn-comment">삭제</button>
    </form>
    {% endif %}

    {% endif %}
  </div>
  <!--collapse-->
  <div class="collapse add indent" id="create_reply{{ comment.pk }}">
    <div class="card card-body">
      <form method="POST" action="{% url 'create_comment' event.pk comment.pk %}">
        {% csrf_token %}
        <div class="text-box">
          <input type="text" class="text-area" name="text" placeholder="답글을 입력하세요" required/>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </form>
    </div>
  </div>
  <div class="collapse edit" id="update_comment{{ comment.pk }}">
    <div class="card card-body">
      <form method="POST" action="{% url 'update_comment' comment.pk %}">
        {% csrf_token %}
        <div class="text-box">
          <input type="text" class="text-area" name="text" value="{{ comment.text }}" required/>
          <button type="submit" class="btn btn-primary">수정</button>
        </div>
      </form>
    </div>
  </div>
  {% if comment.comment_set %}
  <ul>
    {% include "component_comment.html" with comments=comment.comment_set.all %}
  </ul>
  {% endif %}
  </li>
</div>


{% endfor %}