<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            모두가 친해지길 바라는 마음에서 만들었어요. <br/>
            Thanks to:
            윤수 민기 지우 준완 하경 정윤 성운
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Category</h4>
          {% if user.is_authenticated %}
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Study</a></li>
            <li><a href="#" class="text-white">Eat</a></li>
            <li><a href="#" class="text-white">Play</a></li>
          </ul>
          <hr/>
          <h4 class="text-white">Who You Are</h4>
          <p class="text-white">{{ user.username }}</p>
          {% else %}
          <h4 class="text-white"><a href="#" class="text-white"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Log In</a></h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <!-- svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg -->
        <strong>🦁&nbsp;멋사랑<small>🧡</small></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>